body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
h1, h2,h3,h4,h5,h6 {
    margin: 0;
}
h1 {
    color: #e4eee9;
}
hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e4eee9;
}

v {
    color: #da2d21;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar {
    margin: 10px;
}
.icon-bar a b {
    position: absolute;
    color: black;
    top: -27px;
    transition: 0.4s;
    opacity: 0;
}
.icon-bar a:hover b {
    opacity: 1;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 18px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: rgb(226, 2, 2);
    border-radius: 17px;
    
}
  
.facebook {
    background-image: url(/images/mail-svgrepo-com.svg);
    color: white;
}

  
.twitter {
    background-image: url(/images/discord-svgrepo-com111.svg);
    width: 15px;
    height: 15px;
}  
.google {
    background-image: url(/images/whatsapp-svgrepo-com.svg);
    color: white;
}
  
.linkedin {
    background-image: url(/images/viber-svgrepo-com.svg);  
    color: white;
}
  
.youtube {
    background-image: url(/images/telegram-svgrepo-com.svg);
    color: white;
}
  

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*intro*/

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(/backraundfons.webp) center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.intro_title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    font: bold 3em Arial, sans-serif;
    text-shadow: #226bbe 1px 1px 0, #cad5e2 2px 2px 0, 
                 #214874 3px 3px 0, #cad5e2 4px 4px 0, 
                 #275fa0 5px 5px 0;
}
.intro_suptitle {
    font-size: 50px;
    color: #fff;
    text-align: center;
}


/*header*/
.header {
    width: 100%;
    
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
/*делаем что бы лого был с лева а навигация с права*/
.header_inner {
    width: 1200px;
    max-width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #000;
    margin: 0;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #e08929;
    align-items: center;
    padding-top: 60px;
}

/*nav*/
.nav {
    font-size: 25px;
    text-transform: uppercase;
}
.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
    font-size: 20px;

    transition: color .2s linear;
}
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    display: none;

    background-color: #da2d21;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.nav_link:hover {
    color: #d81d1d;
    
}
.nav_link:hover:after {
    display: block;
}

/*section*/
.section {
    padding: 80px 0;
}
.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    
    text-align: center;

}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #e08929;
    text-transform: uppercase;
}
.section_text {
    color: #191b1a;
    font-size: 25px;
    
}

/*kompany*/

.company {
    margin-left: -7px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    height: 315px;
    background-color:#c9a988;   
}

.company_item {
    width: 35%;
    position: relative;/*для того что бі текст встал на картинку*/

    background-color: #edf0f3;
    
}
.company_item:hover .company_img {
    transform: translate3d(-10px, -10px, 0);
    /*делаем сдвиг при навидении на картинки*/
}
.company_item:hover .company_img img{
    opacity: .3;  
    /*делаем затемнение картинки*/
}
.company_img img {
    transition: opacity 0.1s linear; 
    /*делаем затемнение картинки*/
}
.company_img {
    margin: 5px;
}
.company_img {
    background: linear-gradient(to bottom,
    #faf5f5, #fff);/*делаем затемнение картинки*/

    transition: transform .6s linear;
    /*делаем сдвиг при навидении на картинки*/
}
.company_text {
    font-size: 20px;
    color: #1d1b1a;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    opacity: 0;
    /*делаем текст что бы показывался 
    при наведении*/ 

    width: 100%;/*для того что бі текст встал на картинку*/
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .1s linear;/*делаем текст что бы показывался 
    при наведении*/
}
.company_item:hover .company_text{
    opacity: 1;/*делаем текст что бы показывался 
    при наведении*/
}


/*pochem*/
.pochem {
    max-width: 1200px;
    min-width: 100%;
    height: 500px;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    background-color: rgb(14, 13, 13);
}
.p2 {
    padding-top: 30px;
}
.p {
    display: block;
    text-align: center;
    padding: 18px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}





/*static*/
.static {
    background-color: #f3ebe3;
    height: 350px;
    margin-bottom: 60px;
}

.stat {
    display: flex;
}
.stat_item {
    flex: 1 1 0;
    padding: 200px 25px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #18191a;
} 

.stat_count {
    margin-bottom: 10px;
    color: rgb(235, 8, 8);

    font-size: 70px;
    font-weight: 700;
    line-height: 1;
}
.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}


/*pochemu*/
.pochemu {
    background-color: #000;
    height: 700px;
    display: block;
    min-width: 100%;
    height: auto;
    
}
.container_pochemu .section_header .section_title {
    padding-top: 40px;
}
.services_pochemu {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width: 1300px;
    height: 300px;    
}
#reshenie {
    padding-left: 40px;
}

.servises_pochemu_item {
    flex: 1 1 0;
    padding-left: 120px;
    padding-right: 0px;
    position: relative;/*делаем что бы картинка 
    была с права а текст с лева*/
}
.service_pochemu_icon {
    /*делаем что бы картинка 
    была с права а текст с лева*/
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
    padding-left: 50px;
    

    width: 50px;
    height: 50px;
}
.service_pochemu_title {
    font-size: 25px;
    color: #cad5e2;

    margin-bottom: 10px;
}/*pochemu*/

/*pornfolio*/


/*pornfolio*/



.services {
    display: flex;
    justify-content: space-between;    
}

.section_suptitle {
    color: rgb(223, 9, 9);
    font-size: 30px;
    font-weight: 900;

}

.servises_item {
    flex: 1 1 0;
    padding-left: 80px;
    padding-right: 35px;
    position: relative;/*делаем что бы картинка 
    была с права а текст с лева*/
}
.service_icon {
    /*делаем что бы картинка 
    была с права а текст с лева*/
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;

    width: 50px;
    height: 50px;
}
.service_title {
    font-size: 25px;

    margin-bottom: 10px;
}




.waiting {
    height: 1100px;    
    padding: 30px 0 70px 0;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: rgb(241, 0, 0);
    
    font-size: 23px;
    font-weight: 400;
    text-align: center;

}
.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    
}
.waiting_wrapper .waiting_item .waiting_img {
    width: 350px;
    height: 400px;

}
.waiting .waiting_wrapper .waiting_item {
    width: 350px;
    text-align: center;
    
    padding-bottom: 20px;
}
.waiting_descr {
    margin-top: 15px;
    color: black;
    font-style: 15px;
    font-weight: 300;
    line-height: 20px;
}

.waiting_item:hover .waiting_img {
    transform: translate3d(0, -10px, 0);
    /*делаем сдвиг при навидении на картинки*/
    transition: transform .6s linear;
}

.razdel {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background-color: #0f0f0f;

}


/*PRICE*/
.section_header-price {
    background-color: #0f0f0f;
    text-align: center;
}
.container_price {
    height: 600px;
}
.columns {
    float: left;
    width: 32%;
    margin: 5px;
   
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin-top: 40px;
    padding: 20px;
}
.price-info {

    text-align: center;
    text-decoration: none;
    list-style-type: none; /* Убираем маркеры */
    padding-top: 60px;
}
.price-info li {
    border-bottom: 1px solid rgb(41, 30, 30);
    padding: 10px;
    text-align: center;
    font-size: 14px;
}


.price li {
    border-bottom: 1px solid rgb(41, 30, 30);
    padding: 25px;
    text-align: center;
}

.price {
    background-color: #eee;
    font-size: 20px;

}

/*footer*/

.footer {
    background-color: #111111;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_logo {
    font-size: 50px;
    font-weight: 800;
    color: #e08929;
}
.footer_text {
    margin-bottom: 30px;
    color: rgb(248, 248, 248);
    font-size: 15px;    
}
.footer_inner {
    display: flex;
    justify-content: space-between;
}


.footer_social-content {
    padding-top: 15px;
    list-style: none;
}
.footer_social-content-contact {
    color: #fff;
}


